.container {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}
.parameter-box {
    width: 100%;
    height: auto;
    color: #d4d5d5;
}
.row--1 {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: green; */
}
#city-name {
    font-weight: 400;
    font-size: 50px;
}

.temp-container {
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 30px;
}

.weather-details {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.temp-description {
    /* background-color: red; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 20px;
    padding: 20px;
}
.temp-label {
   /* background-color: green;  */
   margin-top: 20px;
   margin-left: 20px;
   font-size: 30px;
   font-weight: 200;
}

img {
    /* margin-left: 10px; */
    padding-bottom: 30px;
    padding-top: 65px;
}

.temp {
    font-size: 70px;
}

.parameter-container {
    width: 100%;
    
    margin-top: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parameter-details {
    background-color: green;
    width: 80%;
    display: flex;
    flex-direction: row;
}