.container {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}
.parameter-box {
    width: 100%;
    height: auto;
    color: #d4d5d5;
}
.row--1 {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#city-name {
    font-weight: 400;
    font-size: 50px;

}

.weather-details {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 100px;
    height: 100px;
    /* background-color: #d4d5d5; */
    margin-left: 10px;
}

.temp {
    font-size: 70px;
}

.parameter-container {
    width: 100%;
    /* height: auto; */
    margin-top: 40px;
    /* background-color: red; */
    display: flex;
}

.parameter-row {
    width: 150px;
    height: 150px;
    background-color: #d4d5d5;
    border-radius: 10px;
    margin-left: 10px;
    color: rgb(40, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   